<html>
<title>LeaveRequest</title>
<body>
<h1>LeaveMangement</h1>
<form action="/sendMail" method="post">
<label>teamLeadEmail</label><input type="text" name="teamLead" placeholder="teamlead@cosmiclabs.co"/><br>
<label>yourEmail</label><input type="text" name="from" placeholder="your mail@cosmiclabs.co"/><br>
<label>password</label><input type="password" name="password" placeholder="your mail password"/><br>
<label>Reason</label><input type="text" name="reason" placeholder="sick"/><br>
<label>fromDate</label><input type="date" name="fromDate"/><br>
<label>endDate</label><input type="date" name="endDate" /><br><br>
<input type="submit" value="submitRequest">
</form>
</body>

</html>